/* Home.css */

/* Header */

/* Sections */
section {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Section headings */
/* h2 {
  margin-bottom: 10px;
  color: #007bff;
} */

/* Links */
a {
  display: inline-block;
  padding: 10px 20px;
  /* background-color: #007bff; */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.expertise-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust the column width as needed */
  gap: 20px; /* Adjust the gap between grid items */
}

.expertise-item {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.sectionhome{
  margin-top: 15%;
}