body {

    background-image: url('https://res.cloudinary.com/dunzdwo0h/image/upload/v1708620304/How_Lawyers_Can_Stand_Out_from_the_Crowd_with_a_Powerful_LinkedIn_Profile_prhbxb.jpg');
    background-size:cover;
    background-position: 0%;
    background-repeat: no-repeat;
    min-height: 99vh;
    
  }