body {

  background-image: url('https://res.cloudinary.com/dunzdwo0h/image/upload/v1708620304/How_Lawyers_Can_Stand_Out_from_the_Crowd_with_a_Powerful_LinkedIn_Profile_prhbxb.jpg');
  background-size:cover;
  background-position: 0%;
  background-repeat: no-repeat;
  
}
.content_signin{
  align-items:center;
  margin-top: 150px;
}

h1 {
  color: rgb(255, 255, 255);
}

h3 {
  color: rgb(255, 255, 255);
}

.container_signin {
  margin-top: 70%;
  display: grid;
  grid-template-columns: 1fr 2fr; 
  gap: 20px;
  margin: auto;
  background-color: rgba(82, 74, 74, 0.4);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 75%;
  align-items: center;  
}

/* .image_signin {
  grid-column: 1; 
} */

/* .image img {
  max-width: 50%;
  height: 50%;
} */

.event_img{
  height: 420px;
}

.signin-form {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

h2 {
  margin-top: 0;
}

form {
  width: 100%; 
  max-width: 300px; 
}

label {
  margin-bottom: 5px;
}

/* input[type='email'],
input[type='password'] { */
  .signin {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 16px;
}

.button_signin{
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  width: 50%;
  align-items: center;
  margin-top: 9px;
}

.button-container {
  display: flex;
  justify-content: center; /* Center the button horizontally */
}

button[type='submit']:hover {
  background-color: #565b61;
}

/* Dropdown styling */
select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #fff;
}

/* Remove default browser styling on focus */
select:focus {
  outline: none;
  border-color: #007bff;
}






